pandas==0.23.0
mahotas==1.4.4
imutils==0.4.6
scikit_image==0.13.1
tabulate==0.8.2
tensorflow==1.8.0
matplotlib==2.1.1
guppy==0.1.10
h5py==2.7.1
commentjson==0.6
Theano==1.0.2
Keras==2.1.6
numpy==1.13.3
scikit_learn==0.19.1
